name: Android CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Build with Gradle
      run: chmod a=rwx ./gradlew

    - name: Update
      run: ./gradlew build --update
    - name: Build with Gradle
      run: ./gradlew build -y --licenses --scan --stacktrace
  
