name: Android CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Build with Gradle
      run: chmod a=rwx ./gradlew
    
    - name: Update
      run: sudo apt update 
    
    - name: Install
      run: sudo apt install default-jdk
    
    - name: What
      run: java -version
      
    - name: Sdktools
      run: wget https://dl.google.com/android/repository/sdk-tools-linux-3859397.zip
      
    - name: SDK Tools install linux
      run: unzip sdk-tools-linux-3859397.zip

    - name: Build with Gradle
      run: ./gradlew build --licenses
    - name: Update
      run: ./gradlew build --update --scan --continue --stacktrace
    
